*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
   
    background-color: #788199;
}

.titulo_pagina{
    margin: 20px;
}

input{
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
}

button{
    margin-right :10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none; 
    border-radius: 5px; 
    background-color: white; 
    color: #8990a2; 
    cursor: pointer;
}

button:hover{
    background-color: #c9cbce;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5);
    color: white;
}

main{
    width: 100%;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.contenido{
    margin-right: 100px;
    background-color: #b5bac9;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}

iframe{
    border-radius: 10px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
}

.contenido_dia{
    background-color: #dcdcdc;
    border-radius: 10px;
    width: 80%;
    padding: 20px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);

}

#id_contenido_dias{
    margin-left: 100px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tarjeta{
    background-color: #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    width: 8%;
    font-size: 13px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
}

footer{
    display: none;
   
    background-color: #666f88;
    border-radius: 20px;
    width: 100%;
    height: 100px;
}